/*
 * MMM_WeeklySchedule
 *
 * Ulrich Pinsdorf
 * MIT Licensed.
 *
 */
 .lessontime {
     text-align: right;
     white-space: nowrap;
     padding-right: 2em;
     width: 1ex;
 }

 .lesson{
     text-align: left;
 }